body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.cabecalho {
    background: #0540cc;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo input {
    width: 40%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: 0.3s;
}

.logo img{
    width: 100px;
}

nav a:hover {
    color: #ffd700;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    padding: 20px;
    gap: 30px;
}

.banner img {
    border-radius: 15px;
    width: 300px;
}



.produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px;
    text-align: center;
}

.produto {
    text-align: center;
}

.produto img {
    width: 100px;
}

.produto span {
    display: block;
    color: #00ff00;
    font-weight: bold;
}

.produto button {
    background-color: yellow;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}


footer {
    background-color: #2c3ecf;
    padding: 20px;
}

.email {
    text-align: center;
    margin-bottom: 20px;
}

.email input {
    padding: 8px;
    width: 200px;
}

.email button {
    padding: 8px 15px;
    background-color: yellow;
    color: #000000;
    border: none;
}

.rodape {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rodape div {
    margin: 10px;
}